.panel {
    border: 1px solid blueviolet; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid blueviolet;
    background-color: #fff !important;
    color: blueviolet;
  }
  .panel-heading {
    color: #fff !important;
    background-color:blueviolet !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
    margin: 100px;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: blueviolet;
    color: #fff;
  }
  .margin100{
      margin-top: 100px;
      margin-bottom: 100px;
  }
  .price_caption{
    color:blueviolet;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.price_caption h1,  .price_caption h4{
color: inherit;
}
.panel-body{
  margin-top: 100px;
  margin-bottom: 10px;
}